<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
		<add name="Database" connectionString ="Data Source=DESKTOP-SKCVHEJ;Initial Catalog={Database};Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
	</connectionStrings>
    <appSettings>
        <add key="schemaPath" value="C:\Users\thumb\Documents\programming\rpUtilities\librettox\template_work\schemas\sql-server\sugarfoot_db"/>
        <add key="ps1Path" value="C:\Users\thumb\Documents\programming\rpUtilities\librettox\"/>
        <add key="ps1Filename" value="gen-table-models-{databaseName}.ps1"/>        
        <!--{jsonSchemaFile} is the fully-qualified Json schema file name.-->
        <add key="ps1CommandMask" value="python librettox.py -t dapper-crud\cs-model.tpl.cs -s {jsonSchemaFile} -o dapper"/>
    </appSettings>

</configuration>